@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --roboto: 'Roboto', sans-serif;
}

html {
  font-family: var(--roboto);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

#game-over {
  margin: 15px auto;
  width: fit-content;
}

#current-turn {
  text-align: center;
}

#main-board {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: fit-content;
  height: fit-content;
}

.main-board__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-board__player, #main-board__computer {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(9, 1fr);
  gap: 5px;
}

.main-board__tile {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.hit {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.miss {
  background-color: rgb(255, 88, 88);
}

#reset {
  font-style: var(--roboto);
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
}

@media screen and (max-width: 1024px) {
  .main-board__tile {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 800px) {
  #main-board {
    grid-template: repeat(2, 1fr) / auto;
    gap: 3px;
  }

  .main-board__tile {
    width: 30px;
    height: 30px;
  }
}